@model List<MovieRental.Models.Movies>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", new { } , new { @class = "btn btn-primary"})

<table class="table table-bordered table-hover">
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
    @foreach (var movies in Model)
    {
        <tr>
            <td>@Html.ActionLink(movies.Name, "Edit", new { id = movies.ID })</td>
            <td>@movies.Genre.GenreType</td>
        </tr>
    }
</table>